<section class="form">
  <h1>General Information</h1>

  <div class="learner">
    <p>
      <label>Clinical Course Name and Number: 
        <span contenteditable="true" class="input text" id="coursename"></span>
      </label>
    </p>
    <p>
      <label>Student Name: 
      <span contenteditable="true" class="input text" id="sname"></span>
     </label>
      <label>Student #: 
      <span contenteditable="true" class="input text" id="sid"></span></label>
    </p>

    <p>
      <label>CI/Preceptor: 
      <span contenteditable="true" class="input text" id="pname"></span></label>
      
      <label>Faculty Support: 
      <span contenteditable="true" class="input text" id="fname"></span></label>
    </p>

    <p>
      <label>Clincal Dates: 
      <span contenteditable="true" class="input text" id="cdates"></span></label>

      <label>Site: 
      <span contenteditable="true" class="input text" id="site"></span></label>
    </p>
    <p>
      <label>Clincal Hours: 
      <span contenteditable="true" class="input text" id="chours"></span></label>
      
      <label>Absent Hours: 
      <span contenteditable="true" class="input text" id="ahours"></span></label>
    </p>
  </div>
</section>
