<section class="form">
  <h1>General Information</h1>

  <div class="learner">
    <p>
      <label style="width: fit-content;">Clinical Course Name and Number: </label>
      <input type="text" id="coursename" />
    </p>
    <p>
      <label>Student Name: </label>
      <input type="text" id="sname" />

      <label>Student #: </label>
      <input type="text" id="sid" />
    </p>

    <p>
      <label>CI/Preceptor: </label>
      <input type="text" id="pname" />

      <label>Faculty Support: </label>
      <input type="text" id="fname" />
    </p>

    <p>
      <label>Clincal Dates: </label>
      <input type="text" id="dates" />

      <label>Site: </label>
      <input type="text" id="site" />
    </p>
    <p>
      <label>Clincal Hours: </label>
      <input type="text" id="chours" />

      <label>Absent Hours: </label>
      <input type="text" id="ahours" />
    </p>
  </div>
</section>
