<section class="form">
    <h1>Sign Off</h1>

    <h2>Midterm</h2>
    <p class="ci">
        <label>CI/Preceptor: </label>
        <input type="text" id="m-ciname" />
        <label>Date: </label>
        <input type="date" id="m-cidate" />
    </p>
    <p class="learner">
        <label>Learner: </label>
        <input type="text" id="m-learnername" />
        <label>Date: </label>
        <input type="date" id="m-learnerdate" />
    </p>    

    <h2>Final</h2>
    <p class="boxed">
        <label>Satisfactory: <input type="radio" id="f-satyes" name="satisfactory"/></label>
        <label>Unsatisfactory: <input type="radio" id="f-satno" name="satisfactory" /></label>
        
    </p>
    <p class="ci">
        <label>CI/Preceptor: </label>
        <input type="text" id="f-ciname" />
        <label>Date: </label>
        <input type="date" id="f-cidate" />
    </p>
    <p class="learner">
        <label>Learner: </label>
        <input type="text" id="f-learname" />
        <label>Date: </label>
        <input type="date" id="f-learndate" />
    </p>
    <p class="faculty">
        <label>Faculty Support: </label>
        <input type="text" id="f-facname" />
        <label>Date: </label>
        <input type="date" id="f-facdate" />
    </p>
</section>