/* textarea */
.textarea-container {
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin-block-end: 1em;
    page-break-inside: avoid;
    break-inside: avoid;
}

p.instructions {
    padding: 0 1em;
}   
.textarea .editor.ql-container{ 
    background-color: white;
}

.learner {
    background-color:  rgb(233, 250, 255);
    outline: 2px solid rgb(0, 142, 185);
}

.ci {
    background-color: rgb(216 243 219);
    outline: 2px solid rgb(92 172 38);
}

.faculty {
    background-color: rgb(242 219 219);
    outline: 2px solid rgb(250 137 137);
}