<section class="comments">
  <h1>Midterm Comments</h1>
  <div class="textarea-container learner">
    <p class="instructions">
      Midterm Learning Goals (Learner to fill in)
    </p>
    <div class="_richtext textarea">
      <div class="editor midterm"></div>
    </div>
  </div>
  <div class="textarea-container ci">
    <p class="instructions">
      Midterm Comments and Feedback (Instructor/Preceptor to fill in)
    </p>
    <div class="_richtext textarea">
      <div class="editor midterm"></div>
    </div>
  </div>
  <div class="textarea-container faculty">
    <p class="instructions">
      Midterm Faculty Support Comments
    </p>
    <div class="_richtext textarea">
      <div class="editor midterm"></div>
    </div>
  </div>
</section>

<section class="comments">
  <h1>Final Comments</h1>
  <div class="textarea-container learner">
    <p class="instructions">
      Final Learning Goals (Learner to fill in)
    </p>
    <div class="_richtext textarea">
      <div class="editor final"></div>
    </div>
  </div>
  <div class="textarea-container ci">
    <p class="instructions">
      Final Evaluation Comments and Feedback (Instructor/Preceptor to fill in)
    </p>
    <div class="_richtext textarea">
      <div class="editor final"></div>
    </div>
  </div>
  <div class="textarea-container ci">
    <p class="instructions">
      Suggestions for Continued Clinical Development in Practice Area
    </p>
    <div class="_richtext textarea">
      <div class="editor final"></div>
    </div>
  </div>
  <div class="textarea-container faculty">
    <p class="instructions">
      Final Faculty Support Comments
    </p>
    <div class="_richtext textarea">
      <div class="editor final"></div>
    </div>
  </div>
</section>
 