<div class="cpigrid">
  <label class="learner midterm tooltip">
    <span>M</span>
    <input
      type="checkbox"
      name="m-{{table-row}}"
      value="{{val}}"
    />
    <span class="tooltiptext">Midterm Learner </span>
  </label>
  <label class="ci midterm tooltip">
    <span>MI</span>
    <input
      type="checkbox"
      name="mi-{{table-row}}"
      value="{{val}}"
    />
    <span class="tooltiptext">Midterm CI </span>
  </label>
  <br />
  
  <label class="learner final tooltip">
    <span>F</span>
    <input
      type="checkbox"
      name="f-{{table-row}}"
      value="{{val}}"
    />
    <span class="tooltiptext">Final Learner </span>
  </label>
  
  <label class="ci final tooltip">
    <span>FI</span>
    <input
      type="checkbox"
      name="fi-{{table-row}}"
      value="{{val}}"
    />
    <span class="tooltiptext">Final CI </span>
  </label>
</div>
