/* kap-tabe */
.kap-table {
    table-layout: fixed;
    width: 100%;
    margin: 1em auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    border: 1px solid #ccc;
    counter-reset: rowNumber;
    page-break-after: always;
}

.kap-table th, 
.kap-table td {
    padding: 0.5em;
    border: 1px solid #ccc; 
    vertical-align: text-top;
}
.kap-table th:first-child,
.kap-table td:first-child {
    width: 25%;
}

.kap-table tr {
    page-break-inside: avoid;
}
.kap-table th {
    font-weight: lighter;
    line-height: 1em;
    font-size: small;
}
.kap-table thead tr:first-child th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.kap-table tbody tr.subhead {
    font-size: smaller;
    color: #333;
    background-color: #f0f0f0;
    text-transform: uppercase;
    page-break-after: avoid;
}
.kap-table tbody tr.subhead td {
    border-right: none;
}
.kap-table tbody tr:not(.subhead) {
    counter-increment: rowNumber;
    height: 6em;
    outline: 2px solid #333;
}
.kap-table tbody>tr:not(.subhead) td:first-child {
    padding-left: 2em;
    position: relative;
    line-height: 1.5em;
}
.kap-table tbody>tr:not(.subhead) td:first-child::before {
    content: counter(rowNumber);
    font-size: 0.8em;
    min-width: 1em;
    display: block;
    position: absolute;
    left: 0.5em;
    top: 25%;
}
.kap-table tbody td.target {
    background-color: #b9cab0;
}
.kap-table tbody td .cpigrid {
    display: grid;
    width: 100%;
    justify-items: center;
}

.kap-table tbody td label {
    display: inline-grid;
    grid-template-columns: 50% auto;
    text-align: center;
    align-items:center;
    width: 100%;
}

.kap-table tbody td input {
    height: 2em;
}

.kap-table tbody td .comments {
    border: 1px solid #ccc;
    padding: 0.25em;
    margin: 0;
}