<header>
  <div class="toolbar">
    <button id="save_btn" title="Download HTML file">Save File &#128190;</button>
    <!--button id="load_btn" title="Load a saved file to continue editing">Load File &#9998;</button-->
    <button id="pdf_btn" title="Save as read-only PDF">PDF &#128438;</button>
  </div>

  <div class="title">
    <img
      height="70"
      width="70"
      src="https://learn.bcit.ca/shared/scripts/interactive/UnityModelViewerTemplateData/bcit_cmyk.png"
      alt="BCIT Logo"
    />
    <span>Nursing Clinical Evaluation</span>
  </div>
</header>
