* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1400px;
}

.kap {
    margin: 0 auto;
    padding: 1.5em 1em;
    border-bottom: 1px dashed #ccc;
}
.kap h1 {
    margin-top: 1.5em;
    font-size: 1.3em;
    text-transform: capitalize;
}

@import "./components/kap-table/kap-table.css";
@import "./components/quill-ta/quill-ta.css";
